* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  color: blue;
  text-decoration: underline;
  padding-bottom: 1rem;
}



section {
  width: 55%;
  margin: 4rem auto;
  padding: 1rem 0rem;
  border: 3px solid black;
  font-size: 2rem;
    text-align: center;
}

#classInput{
    padding: 14px;
    border: 1px solid silver;
    border-radius: 4px;
}


/* Ex1 */
.highlight {
  background-color: yellow;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}


/* Ex2 */
.visible {
  display: block;
}

.hidden {
  display: none;
}


/* Ex3 */
.btn {
  cursor: pointer;
  font-size: 1.5rem;
  background-color: gray;
  color: white;
  padding: 0.4rem;
  margin-top: 0.8rem;
}

.btn-after {
  background-color: silver;
  color: black;
  pointer-events: none;
}